[課題のURL](https://diver.diveintocode.jp/curriculums/1640)

# Week4授業課題 信用情報の学習

# 【問題1】コンペティション内容の確認

* 何を学習し、何を予測するのか
ローンの情報(車を持ってるか、不動産を持ってるか、学歴など)を
クライアントのローンの返済能力を予測する

* どのようなファイルを作りKaggleに提出するか
(TARGETは予測結果(%))

下記のような形式(csvファイル)
SK_ID_CURR,TARGET
100001,0.1
100005,0.9
100013,0.2
etc.

* 提出されたものはどういった指標値で評価されるのか  
ROC曲線を用いて評価される

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import missingno as msno
import scipy
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

# 【問題2】データの概観の把握

* データの取得

In [15]:
#df = pd.read_csv('train.csv')
df = pd.read_csv('application_train.csv', index_col=0)
df2 = pd.read_csv('application_test.csv')

* データセット自体の調査

In [17]:
df.head(5)

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
# GrLivAreaとYearBuiltを抜き出す。
X = df[["AMT_INCOME_TOTAL", "AMT_CREDIT"]]
y = df["TARGET"]

In [28]:
# 訓練データと検証データの分割

from sklearn.model_selection import train_test_split

X = np.array(X)
y = np.array(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1, stratify=y)

In [ ]:
# 前処理

In [32]:
# 学習と推定
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5) # インスタンス生成。n_neighbors:Kの数
knn.fit(X_train, y_train) # モデル作成実行
y_pred = knn.predict_proba(X_test) # 予測実行

print(y_pred.shape)
print(y_pred)

(76878, 2)
[[1.  0. ]
 [0.8 0.2]
 [1.  0. ]
 ...
 [1.  0. ]
 [1.  0. ]
 [1.  0. ]]